{
  "printWidth": 100,
  "tabWidth": 2,
  "singleQuote": true,
  "trailingComma": "none",
  "bracketSpacing": true,
  "jsxBracketSameLine": true,
  "parser": "babel",
  "semi": true,
  "useTabs": true,
  "arrowParens": "avoid",
  "jsxSingleQuote": true,
  "htmlWhitespaceSensitivity": "ignore",
  "quoteProps": "as-needed"
}